html {
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}
*{
  margin: 0;
  padding: 0;
}
.box{
  margin: 0 auto;
}
.swiper1  {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.swiper  {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.swiper-wrapper {
  position: relative;
}
.swiper-slide {
  float: left;
  width: 315px;
  /* display: none; */
  transition: transform .3s;
}

img {
  width: 100%;
  height: 100%;
}

.pagination {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination .pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgb(45, 255, 18);
  opacity: .9;
  margin: 0 10px;
  
}
.pagination .pagination-bullet.active {
  opacity: 1;
  background-color: rgb(5, 205, 255);
}

.next-btn {
  z-index: 999;
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 20px;
  height: 40px;
  /* background-size: 20px 40px; */
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E"); */
}
.prev-btn {
  z-index: 999;
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 40px;
  left: 10px;
  /* background-size: 20px 40px; */
  /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E"); */
}