* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("https://dss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2455100451,3980453752&fm=26&gp=0.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.page .page_hd {
  width: 1.8666667rem;
  height: 0.555rem;
  color: #fff;
  font-size: 0.46rem;
  margin: 2.96rem auto;
}
.page .page_content .page_content_number {
  width: 6.96rem;
  display: flex;
  margin-left: 1.45em;
}
.page .page_content .page_content_number .number {
  width: 1.62rem;
  height: 1.62rem;
  line-height: 1.62rem;
  border-radius: 50%;
  border: 2px dash #81969c;
}
