$weuiBtnFontSize = 18px
$weuiBtnFontColor = #ffffff
$weuiBtnHeight = 46px
$weuiBtnBorderRadius = 5px
$weuiBtnPrimary = #1aad19
$weuiBtnActiveFontColor = rgba(255,255,255,.6)
$weuiBtnPrimaryBg = #179816
